.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 153, 204, 0.95);
  display: flex;
  padding: 30px;
  
}

body {
  margin: 0;
  background-image: url('pink.jpg');
  background-size: cover;
  
}

.content {
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 1400px;
  background-color: rgba(255, 128, 191, 1)
}

.icon {
  position: absolute;
  left: 40px;

}

.buttons {
  display: flex;
  gap: 10px;
}
